body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: linear-gradient(to bottom right, blue, green); /* Degrade azul e verde */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    font-size: 30px;
    font-family: Arial, sans-serif; /* Estilo de fonte a ser escolhido */
    color: black; /* Cor da letra */
}

a {
    color: blue; /* Cor dos links */
    text-decoration: none; /* Remover sublinhado */
}

.page-center {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #bfd200;
    border-radius: 20px;
}

.box-natural, .box-suplementos {
    gap: 10px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.box-natural a,
